.blockType0 {
background-color: #fff!important;
color: #222!important;
border-width: 0px;
}
.blockType2 {
background-color: #BE3150!important;
}
.blockType8 {
background-color: #FDFDFD!important;
color: #222!important;
}
.blockType1 {
background-color: #6DDAFF!important;
}
.blockType3 {
background-color: #E03A1C!important;
}
.blockType4 {
background-color: #911167!important;
}
.blockType5 {
background-color: #6D9E26!important;
}
.blockType6 {
background-color: #DAB722!important;
}
.blockType7 {
background-color: #3C81BB!important;
}
.moveBlock {
font-size: 2em;
text-align: right;
}